<h2 id="titulo">Genera contraseñas personalizadas!</h2>
    <hr>
    <div id="div1" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <h3>Genera una contraseña segun tus datos!</h3>
        <hr>
        <div id="div2">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <fieldset>
                    <legend>Introduce tus datos:</legend>
                    <label>Nombre: 
                        <br>
                        <input type="text" id="nombre" class="form-control text-center" [(ngModel)]="nombre"/>
                    </label>
                    <label>
                        Apellido Paterno: 
                        <br>
                        <input type="text" id="apellidoP" class="form-control text-center" [(ngModel)]="apellidoP"/>
                    </label>
                    <label>
                        Apellido Materno: 
                        <br>
                        <input type="text" id="apellidoM" class="form-control text-center" [(ngModel)]="apellidoM"/>
                    </label>
                    <label>Introduce tu fecha de nacimiento:
                        <input type="date" id="nacimieno" class="form-control text-center" [(ngModel)]="nacimiento"/>
                    </label> 
                </fieldset>
                
                <br>
                <label>
                    Ingresa el numero de caracteres que tendra tu contraseña: 
                    <br>
                    <input type="number" id="longitudNumero" class="form-control text-center" min="8" max="50" [(ngModel)]="longitudDatos"/>
                </label>
            </div>
        </div>
        <br>
        <fieldset>
            <button (click)="generarSegunDatos()" type="button" class="btn btn-success" id="generarC">Generar contraseña</button>
        </fieldset>
        <span id="mostrarContraseña" class="badge bg-success">{{contraDatos}}</span>
        <br>
    </div>
